.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.expiry-date {
  display: flex;
  align-items: center;
}

.expiring-soon-border {
  border: solid 3px #fdca49;
  border-radius: 5px;
}

.expired-border {
  border: solid 5px rgb(from var(--mat-sys-error) r g b / 0.5);
  border-radius: 5px;
}

.expiring-soon {
  color: #fdca49;
}

.expired {
  color: var(--mat-sys-error);
}