<main>
	<div class="top-bar">
		<span class="top-bar-title">PastryHelper</span>
	</div>
	<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav class="sidenav" fixedInViewport [fixedTopGap]="47" [mode]="'side'" opened>
		<mat-nav-list role="list">
			<a mat-list-item routerLink="home">
				<mat-icon matListItemIcon>home</mat-icon>
				@if (!(isHandset$ | async )) {
					<span matListItemTitle>Home</span>
				}
			</a>
			<a mat-list-item routerLink="fridge">
				<mat-icon matListItemIcon>kitchen</mat-icon>
				@if (!(isHandset$ | async )) {
					<span matListItemTitle>Fridge</span>
				}
			</a>
			<a mat-list-item routerLink="categories">
				<mat-icon matListItemIcon>category</mat-icon>
				@if (!(isHandset$ | async )) {
					<span matListItemTitle>Categories</span>
				}
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
</main>
