.top-bar {
	app-region: drag;
	display: inline-flex;
	height: 43px;
	width: 100%;
}

.top-bar-title {
	font-size: 2rem;
	margin: auto;
}

.sidenav-container {
	height: 100%;
}

.sidenav {
	app-region: no-drag;
	width: fit-content;
}